<?xml version="1.0"?>
<model>
  <name>Iris with FPV camera</name>
  <version>1.0</version>
  <sdf version='1.4'>iris_cam.sdf</sdf>

  <author>
   <name>Aerostack</name>
   <email>aerostack@gmail.com</email>
  </author>

  <description>
    This is a model of the 3DR Iris Quadrotor with an FPV camera. The original model has been created by
    Thomas Gubler and is maintained by Aerostack.
  </description>
</model>
